{
  "root": true,
  "extends": ["@thesis-co"],
  "overrides": [
    {
      "files": ["./src/**"], // Specify the path to the file
      "rules": {
        "no-console": "off" // Disable the no-console rule for this file
      }
    }
  ]
}
